.app-logo {
  width:140px !important;
  height:112px !important;
}

.app-logo-text{
  color:#fff; 
  font-weight:bold; 
  font-size:32px;
}
.content-text-box{
  font-size: 16px;
  line-height:24px;
}
.min-errorpage-body{
  min-height: 200px !important;
}
